@use "base";

.text-wrong {
	color: base.$wrong;
  	text-shadow: 0 0 5px base.$wrong;
}

.text-correct {
	color: base.$correct;
  	text-shadow: 0 0 5px base.$correct;
}

div.aspect-selection {
	display: flex;
	align-items: flex-start;
}

div.aspect-list {
	width: 50%;
}

div.selected-aspects {
	background: base.$foreground-color;
	border-radius: 10px;
	width: 50%;
	position: sticky;
	top: 5px;
	padding: 10px;
}

table.structure-selector, table.resource-editor {
	input {
		-moz-appearance:textfield; /* Firefox */
		width: 50%;
		border: none;
		text-align: center;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
}

div.add-structure {
	display: flex;
}
