@use "base";

div.race-about-template-container {
	justify-items: center;
}

table.race-about-template-inputs {
	border: none;

	tr, td {
		border: none;
	}

	tr {
		height: 10px;
	}

	td {
		display: flex;
		align-items: center;
	}
}

#template {
	display: none;
}
